<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.Athletics">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />


    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="allowBackup,supportsRtl">

        <activity
            android:name="com.example.athletics.Activity.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.example.athletics.Activity.IntroSliderActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name="com.example.athletics.Activity.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name="com.example.athletics.Activity.SignUpActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name="com.example.athletics.Activity.ForgotPasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name="com.example.athletics.Activity.HomeActivity"
            android:theme="@style/NavigationDrawerAppTheme"

            />

        <activity
            android:name="com.example.athletics.Activity.NotificationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NavigationDrawerAppTheme" />

        <activity
            android:name="com.example.athletics.Activity.SettingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NavigationDrawerAppTheme" />

        <activity
            android:name="com.example.athletics.Activity.UploadVideoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NavigationDrawerAppTheme" />

        <activity
            android:name="com.example.athletics.Activity.MyProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NavigationDrawerAppTheme" />

        <activity
            android:name="com.example.athletics.Activity.SubscribePackageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NavigationDrawerAppTheme" />

        <activity
            android:name="com.example.athletics.Activity.LikeVideoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NavigationDrawerAppTheme" />

        <activity
            android:name="com.example.athletics.Activity.WebviewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NavigationDrawerAppTheme" />


        <activity
            android:name="com.example.athletics.Activity.SearchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NavigationDrawerAppTheme" />

        <activity
            android:name="com.example.athletics.Activity.VideoViewActivity"
            android:configChanges="orientation|screenLayout|screenSize|smallestScreenSize"
            android:screenOrientation="landscape"
            android:supportsPictureInPicture="true"
            android:theme="@style/NavigationDrawerAppTheme" />

        <activity
            android:name="com.example.athletics.Activity.EditProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NavigationDrawerAppTheme"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name="com.example.athletics.Activity.MyFollowingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NavigationDrawerAppTheme"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name="com.example.athletics.Activity.AthleteProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NavigationDrawerAppTheme"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name="com.example.athletics.Activity.CoachProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NavigationDrawerAppTheme"
            android:windowSoftInputMode="adjustResize" />


    </application>

</manifest>

